body {
  font-family: 'Quicksand', serif;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px 20px 80px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}

.leftNav {
  display: flex;
  align-items: center;
}

.leftNav header {
  margin-left: 40px;
  font-size: 30px;
  font-weight: bold;
}

.stick {
  border-right: 1px solid black;
}

table {
  border: 2px solid black;
}

th {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0;
}

td {
  padding: 10px;
}

.profile {
  display: flex;
  justify-content: space-between;
  padding: 0 80px 0 80px;
}

.missionProfiles {
  width: 40%;
}

.missionProfiles h1 {
  font-size: 25px;
  font-weight: bold;
}

.missionProfiles div {
  border: 1px solid black;
  padding: 8px;
}

.rocketProfiles {
  width: 40%;
}

.rocketProfiles h1 {
  font-size: 25px;
  font-weight: bold;
}

.rocketProfiles div {
  border: 1px solid black;
  padding: 8px;
}
